@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Support:</strong>   <a href="mailto:S00165352@mail.itsligo.ie">S00165352@mail.itsligo.ie</a><br />
</address>