@{
    ViewBag.Title = "Gadget Insurance";
}

<form action="/Home/Result" method="post" class="form">
    <h1>Gadget Insurance</h1>
    <div class="form-group">
        <label for="gender">Enter your gender Here</label>
        <input type="text" class="form-control" name="gender" placeholder="Gender" />
    </div>
    <div class="form-group">
        <label for="age">Enter your age Here</label>
        <input type="number" class="form-control" name="age" placeholder="Age" />
    </div>
    <button type="submit" value="Submit form" class="btn btn-primary">Submit</button>
</form>