@{
    ViewBag.Title = "Result";
}
<h1>Here is your insurance Quote</h1>
<h3>Result: €@ViewBag.Message</h3>
<h2>@ViewBag.errorMessage</h2>
<a href="/Home" class="btn btn-primary">Get Another Quote</a>